/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";
@theme {
  --color-orange-soft: #ffb347;
  --color-orange-soft-100: #fff5e6;
  --color-orange-soft-200: #ffe8c2;
  --color-orange-soft-300: #ffdb9e;
  --color-orange-soft-400: #ffce7a;
  --color-orange-soft-500: #ffb347;
  --color-orange-soft-600: #ff9e1f;
  --color-orange-soft-700: #e6860c;
  --color-orange-soft-800: #b36809;
  --color-orange-soft-900: #804b06;

  --color-ppdb-orange: #ffa500;
  --color-ppdb-soft: #ffe8d1;
  --color-ppdb-orange-light: #fff5e6;
  --color-ppdb-orange-dark: #cc8400;
  --color-ppdb-gray-dark: #1f2937;
  --color-ppdb-gray-light: #f9fafb;
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
